#bg:after {
  background-image: url("../../images/wheelchair_Geoge_Hodan_publicdomainpictures_dark.png");
  /*background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;*/
}
